<div class="loc-time-block">
<div>
 <b>{{ 'Country'|trans }}&nbsp;</b><span>{{ country|trans }}</span>{{ ',&nbsp;' }}
 <b>{{ 'City'|trans }}&nbsp;</b><span>{{ city|trans }}</span>
</div>
<div>
 <div class="clock">{{ current_time }}</div>
</div>
</div>